<launch>
  <include file="$(find patrolling)/launch/lab4.launch"/>

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 1.0" />

  <!--- Run gmapping -->
  <include file="$(find jackal_navigation)/launch/include/gmapping.launch" />
</launch>
