<launch>
  <include file="$(find patrolling)/launch/lab4.launch"/>

  <!--- Run gmapping -->
  <include file="$(find jackal_navigation)/launch/include/gmapping.launch" />

  <!-- Run Rviz with gmapping configuration-->
  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find patrolling)/rviz/mapping.rviz" />
</launch>
