<launch>
  <include file="$(find patrolling)/launch/lab4.launch"/>

  <node pkg="patrolling" name="jackal_spawner" type="jackal_spawner.py"  output="screen"/>

  <node pkg="patrolling" name="waypoints_nav" type="waypoint_nav.py" output="screen">
    <rosparam command="load" file="$(find patrolling)/config/mapping.yaml" ns="patrolling"/>
  </node>
</launch>
